header {
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#home-icon {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.search-bar {
  box-sizing: border-box;
  padding: $base-padding * 0.5 $base-padding;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem * 0.5;

  border-radius: $base-border-radius;
  border: $base-border-thickness solid $primary;

  &:hover {
    box-shadow: 0 0 0 1px $primary;
  }

  button {
    border: none;
    background-color: transparent;
    color: $primary;

    &:hover {
      background-color: none;
    }

    &:active {
      background-color: none;
    }
  }

  form#search {
    display: grid;
  }
}
