.button-outlined {
  border: $base-border-thickness solid darken($secondary, 20%);
  color: darken($secondary, 20%);

  @if $theme =='dark' {
    &:hover {
      background-color: darken($secondary, 40%);
    }

    &:active {
      background-color: darken($secondary, 30%);
    }

    &:disabled {
      background-color: darken($secondary, 20%);
      color: lighten($primary, 20%);

      cursor: not-allowed;
    }
  }

  @else {
    &:hover {
      background-color: lighten($secondary, 50%);
    }

    &:active {
      background-color: lighten($secondary, 40%);
    }

    &:disabled {
      color: lighten($secondary, 20%);
      cursor: not-allowed;
    }
  }

}
