.button-solid {
  background-color: $secondary;
  border: $base-border-thickness solid $secondary;
  color: lighten($secondary, 60%);

  @if $theme =='dark' {

    &:hover {
      background-color: lighten($primary, 10%);
    }

    &:active {
      background-color: lighten($primary, 20%);
    }

    &:disabled {
      background-color: darken($primary, 20%);
      cursor: not-allowed;
      color: darken($primary, 20%);
    }
  }

  @else {
    &:hover {
      background-color: darken($secondary, 10%);
    }

    &:active {
      background-color: darken($secondary, 20%);
    }

    &:disabled {
      background-color: lighten($secondary, 20%);
      cursor: not-allowed;
      color: darken($secondary, 20%);
    }
  }
}
