@import "theme/index";
@import "style";

body {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  background-image: linear-gradient(135deg, $slate-800, $slate-900);
  color: $slate-200;
  height: 100vh;
}

// header
@import "components/header";

// main
@import "components/main";

// footer
@import "components/footer";
