body {
  font-family: $base-font-stack;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6rem;
  letter-spacing: -0.09375rem;
}

h2 {
  font-size: 3.75rem;
  letter-spacing: -0.03125rem;
}

h3 {
  font-size: 3rem;
  letter-spacing: 0rem;
}

h4 {
  font-size: 2.125rem;
  letter-spacing: 0.015625rem;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

h6 {
  font-size: 1.25rem;
  letter-spacing: 0.009375rem;
}

a {
  color: var(--slate-50);
  text-decoration: none;
}

// horizontal rule
hr {
  width: 95%;
  border-radius: 8px;
  border: 1px solid $primary;
  margin: 1rem auto;
}

// BUTTONS
button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 0.2s ease-in-out;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    color: $slate-50;
    background-color: transparent;
  }

  &[type="submit"] {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }

  &:active {
    background-color: transparent;
  }

  // &:focus {
  //   outline: none;
  //   box-shadow: 0 0 0 2px $slate-400;
  // }
}
